.navbar {
  height: 45px;
  background-color: grey;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item {
  color: white;
  margin: 0px 20px;
  border: 0px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.navbar-item-active {
  color: white;
  margin: 0px 20px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(88, 88, 88);
  cursor: pointer;
}
